* {
   margin: 10;
   padding: 10;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   background: black
}

body {
   font-family: rial, Helvetica, sans-serif;
}

nav {
   background: black;
   height: 80px;
   width: 100%;
}



label.logo {
   font-size: 35px;
   color: white;
   padding: 0 100px;
   font-weight: bold;
   line-height: 80px;
}

nav ul {
   float: right;
   margin-right: 20px;
}

nav ul li {
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
}

nav ul li a {
   color: white;
   font-size: 17px;
   padding: 7px 13px;
   border-radius: 3px;
   float: left;
   text-align: center;
   text-decoration: none;
   line-height: 25px;
   

}

a.active,
a:hover {
   background: rgba(255, 0, 0, .4);
   transition: .5s;
}



.main {
   float: left;
   width: 75%;
   color: white;

}

a:visited {
   color: white;
   text-decoration: none;
}


.sidebar {
   float: left;
   width: 25%;
   color: white;
   padding-left: 20px;

}



.image {
   width: 20px;
   padding: 20px;
}


.artikel {
   color: white;
   padding: 20px;
   margin-top: 20px;
}


.row::after {
   content: "";
   display: table;
   clear: both;
}


.footer {
   padding: 20px;
   text-align: center;
   color: white;
   margin-top: 20px;
}

h1.active,
h1:hover {
   transition: .5s;
}

@media screen and (max-width: 700px) {

   .main,
   .sidebar {
      width: 100%;
      padding: 0;
   }
}